# ignore all
# check another .ignore file in addons folder

# Xcode Project
xcuserdata/
*.entitlements

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

*~
.svn/
*.wav
*.app/


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# xml
*.*.bak

#emacs
*.*~

#movie file
*.mov
*.avi
*.mpeg


#image file
*.png
*.jpg
*.jpeg
*.tiff
*.tif
*.gif


#gui setting
_settings.xml
#.gitignore#

